img {
  float: right;
}

.img circle {
  border-radius: 50%;
}

.jumbotron {
  background-color: #D7BDE2;
}

.bg-success {
  background-color: #D2B4DE;
  /*border: solid 1px #5B2C6F;*/

}

.jumbotron ul {
font-size: 20px;

}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.well li {
  font-family: "Times New Roman", Times, serif;
  font-weight:normal;
  font-size: 18px;

}
